.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dateGroup {
    border: var(--border-black);
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--color-white);
}

.dateHeader {
    display: block;
    padding: 12px 16px;
    background-color: var(--color-gray);
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black);
}

.transactions {
    font-size: 14px;
}

.emptyList {
    padding: 24px;
    text-align: center;
    color: var(--color-gray-3);
}