:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray: #ddd;
  --color-gray-2: #F5F5F5;
  --color-gray-3: #454343;
  --color-green: #00ba06;
  --color-red: #cb0000;

  --border-black: 1px solid var(--color-black);
  --border-gray: 1px solid var(--color-gray);
  --border-radius: 8px;

  --box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  --input-height: 40px;

  --transition-duration: 0.2s;
}
